/* 
* ############################################################
* Admin global styles
* ############################################################
*/

/* 
* --------------------
* Fonts
* --------------------
*/

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/GilroyMedium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/GilroySemibold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/GilroyBold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/GilroyExtraBold.ttf");
  font-weight: 800;
}

body {
  font-family: 'Gilroy', sans-serif;
  font-weight: 600;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Gilroy', sans-serif;
  font-weight: 800;
}



/* 
* --------------------
* Content styles
* --------------------
*/

.main-container {
  background: #EEEEEE;
  border: 1px solid #DFDFDF;
  box-sizing: border-box;
  border-radius: 30px;
}

/* Filters */
.filters_style {
  background: #F9F9F9;
  border: none;
  border-radius: 16px;
  padding: 18px 22px;
}

.filter-row input,
.selectize-input > .item {
  color: #898A8D;
  font-size: 14px;
  font-weight: 600;
  height: auto;
}

.selectize-control.single .selectize-input:after {
  content: ' ';
  display: block;
  position: absolute;
  top: calc(50% - 7px/2 + 3px);
  right: 18px;
  width: 12px;
  height: 7px;
  border: none;
  background: url('../images/icon-arrow-down.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.inner-addon { 
  position: relative; 
}

.inner-addon .image-icon {
  position: absolute;
  padding: 10px;
}

.left-addon .image-icon { 
  left: 8px;
}

.right-addon .image-icon { 
  right: 8px;
}

.left-addon input { 
  padding-left: 50px;
}

.right-addon input { 
  padding-right: 50px;
}

.filter-search .image-icon {
  width: 40px;
  top: calc(50% - 40px/2);
}

/* Table content styles */
.content-table {
  font-size: 16px;
}

.content-table th {
  border-bottom: 1px solid #DFDFDF;
  color: #6F6F6F;
  font-size: 18px;
  font-weight: 600;
  line-height: 0;
  padding: 18px 0;
}

.content-table td {
  border-bottom: 1px solid #DFDFDF;
  color: #898A8D;
  line-height: 0;
  padding: 25px 0;
}

.content-table tr:last-child td{
  border-bottom: none;
}

.table-col-small {
  width: 3%;
}

.table-col-profile {
  width: 10%;
}

.content-table input[type="checkbox"] {
  display: none;
}

.content-table input[type="checkbox"] + label { 
  background: url('../images/icon-checkbox.png') no-repeat;
  background-size: contain;
  width: 18px;
  height: 18px;
  margin: 0;
}

.content-table input[type="checkbox"]:checked + label {
  background: url('../images/icon-checkbox-checked.png') no-repeat;
  background-size: contain;
}

.avatar-sm {
  width: 3rem;
  height: 3rem;
}

.more-options img {
  height: 20px;
}

.userNameColorChange {
  color: #18243C !important;
}

.btn-load {
  background: linear-gradient(269.33deg, #E04E7C 1.15%, #E01E82 93.94%);
  border: 1px solid #B11859;
  border-radius: 29px;
  box-shadow: 0px 14px 34px rgb(181 0 78 / 31%);
  color: #FFFFFF;
  font-size: 18px;
  font-weight: bold;
  line-height: 1;
  display: inline-block;
  padding: 18px 90px;
}

.btn-load:hover {
  color: #FFFFFF;
}